{%- macro emit_key_values(data) %}
{%- if data is mapping -%}
{% for key, value in data | dictsort() -%}
{{ key }}={{ value }}
{% endfor %}
{%- else -%}
{% for key, value in data -%}
{{ key }}={{ value }}
{% endfor %}
{%- endif -%}
{% endmacro -%}
[Unit]
Description={{ service_name }}
{{ emit_key_values(unit_config) }}

[Service]
ExecStart={{ exec_start }}
{{ emit_key_values(service_config) }}

[Install]
{{ emit_key_values(install_config) }}
